---
import HistoryList from "@/sections/history/components/HistoryList.astro"
import { Card, CardContent, CardHeader, CardTitle } from "~ui/card"
---

<div
    class="overflow-auto menu:scale-95 sm:menu:scale-100 transition-transform max-h-screen mx-auto p-4 py-10 space-y-3"
>
    <Card>
        <CardHeader className="p-2 sm:p-6">
            <CardTitle className="text-lg sm:text-2xl"
                >Historial de Análisis</CardTitle
            >
        </CardHeader>
        <CardContent className="p-2 pt-0 sm:pt-0 sm:p-6">
            <p class="text-muted-foreground text-xs sm:text-base">
                Aquí puedes ver un resumen de tus análisis de sesgos anteriores.
                Haz clic en &quot;Más detalles&quot; para expandir la
                información o en &quot;Ver análisis completo&quot; para acceder
                al informe detallado.
            </p>
        </CardContent>
    </Card>
    <HistoryList />
</div>
