---
import FormContainer from "@/sections/home/components/form/FormContainer"
import {
    ChartColumn as ChartColumnIcon,
    FileText as FileTextIcon,
    RefreshCw as RefreshCwIcon,
    SearchCode as SearchCodeIcon,
} from "lucide-astro"
import { Card } from "~ui/card"

const prompts = [
    {
        icon: SearchCodeIcon,
        text: "Analiza texto en busca de contenido sesgado o estigmatizante",
        ready: true,
    },
    {
        icon: ChartColumnIcon,
        text: "Muestra qué términos o expresiones influyen en el contenido redactado",
        ready: true,
    },
    {
        icon: RefreshCwIcon,
        text: "Proporciona alternativas de los términos o expresiones sesgadas",
        ready: true,
    },
    {
        icon: FileTextIcon,
        text: "Pueden subirse archivos en PDF, DOCX...",
        ready: false,
    },
]
---

<div
    class="size-full grid place-content-center group-has-[#theme:checked]:bg-red-500"
>
    <div class="w-fit">
        <div class="mb-8 space-y-2">
            <h1
                class="p-1 text-4xl font-bold bg-linear-to-r from-primary via-fuchsia-600/80 via-65% to-75% to-violet-500 bg-clip-text text-transparent"
            >
                <span>Bienvenido/a a GenderLex,</span>
                <br />
                <span>su asistente de escritura inteligente.</span>
            </h1>
        </div>
    </div>
    <div
        class="mb-16 flex gap-4 flex-wrap justify-center"
        transition:name="info"
    >
        {
            prompts.map(({ icon: Icon, text, ready }) => (
                <Card
                    data-ready={ready}
                    className="data-[ready=false]:bg-muted  cursor-pointer p-4 transition-colors hover:bg-muted/80 w-48"
                >
                    <div class="flex flex-col justify-between h-full gap-4">
                        <span class="text-sm">{text}</span>
                        <div class="flex justify-between">
                            <Icon class="h-5 w-5 text-gray-500" />
                            {!ready && (
                                <span class="bg-dev rounded-full text-white p-1 px-2 text-sm">
                                    dev
                                </span>
                            )}
                        </div>
                    </div>
                </Card>
            ))
        }
    </div>
    <FormContainer client:load />
</div>
