---
import { RefreshCw as RefreshCwIcon } from "lucide-astro"
import { Button } from "~ui/button"
---

<div class="mb-8 flex justify-center">
    <a href="/">
        <Button
            variant="outline"
            size="sm"
            className="group/refresh flex gap-2 items-center"
        >
            <RefreshCwIcon
                class="h-4 w-4 group-hover/refresh:rotate-180 transition-transform duration-700"
            />
            <span>Empezar de nuevo</span>
        </Button>
    </a>
</div>
