---
import RootLayout from "@/layouts/RootLayout.astro"
import ResultContainer from "@/sections/home/components/result/ResultContainer"
import ResultItemSkeleton from "@/sections/home/components/result/ResultItem.skeleton.astro"
import Container from "@/sections/home/Container.astro"
import { actions } from "astro:actions"

const res = Astro.getActionResult(actions.analyzeText)
const text = res?.data?.text
const analysisId = res?.data?.id
---

<RootLayout title="Home">
    {
        !text ? (
            <Container />
        ) : (
            <ResultContainer
                text={text}
                analysisId={analysisId}
                client:only="react"
            >
                <section class="p-10">
                    <ResultItemSkeleton />
                </section>
            </ResultContainer>
        )
    }
</RootLayout>
