---
import { analyzeTextInputSchema } from "@/lib/schemas/analyzeTextInput"
import GenderBiasAnalysis from "@/sections/analysis/components/GenderBiasAnalysis.astro"

const formData = await Astro.request.formData()
const { success, data } = analyzeTextInputSchema.safeParse(
    Object.fromEntries(formData.entries()),
)
if (!success) throw new Error("Text must be provided")
const text = data!.text
---

<GenderBiasAnalysis server:defer text={text}>
    <span slot="fallback">Loading...</span>
</GenderBiasAnalysis>
