---
import ResultItemSkeleton from "@/sections/analysis/components/ResultItem.skeleton.astro"
import ResultServerContainer from "@/sections/analysis/components/ResultServerContainer.astro"
import { analyzeTextInputSchema } from "@/utils/schemas/analyzeTextInput"

const formData = await Astro.request.formData()
const { success, data } = analyzeTextInputSchema.safeParse(
    Object.fromEntries(formData.entries()),
)
if (!success) throw new Error("Text must be provided")
const text = data!.text
---

<div class="space-y-4 p-10">
    <ResultServerContainer server:defer text={text}>
        <ResultItemSkeleton slot="fallback" />
    </ResultServerContainer>
</div>
