---
import { analyzeTextInputSchema } from "@/schemas/analyzeTextInput"
import GenderBiasAnalysis from "@/sections/analysis/components/GenderBiasAnalysis.astro"
import GenderBiasAnalysisSkeleton from "@/sections/analysis/components/GenderBiasAnalysisSkeleton.astro"

const formData = await Astro.request.formData()
const { success, data } = analyzeTextInputSchema.safeParse(
    Object.fromEntries(formData.entries()),
)
if (!success) throw new Error("Text must be provided")
---

<div
    class="overflow-auto menu:scale-95 sm:menu:scale-100 transition-transform max-h-screen mx-auto p-4 space-y-6"
>
    <GenderBiasAnalysis server:defer text={data.text} file={data.file}>
        <GenderBiasAnalysisSkeleton slot="fallback" />
    </GenderBiasAnalysis>
</div>
