---
import { Skeleton } from "@/components/ui/skeleton"
---

<div class="overflow-hidden rounded-lg bg-white shadow-md dark:bg-gray-800">
    <div class="p-6 space-y-4">
        <Skeleton className="mb-2 h-8 bg-primary/20 w-2/5" />
        <Skeleton className="mb-2 h-16 bg-primary/20" />
        <Skeleton className="mb-2 h-6 bg-primary/20 rounded-full" />
        <Skeleton className="mb-2 h-16 bg-primary/20" />
        <Skeleton className="mb-2 h-16 bg-primary/20" />
    </div>
</div>
