---
export const prerender = true
const url = `${Astro.url.protocol}://${Astro.url.host}`
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="SwaggerUI" />
        <title>SwaggerUI</title>
        <link
            rel="stylesheet"
            href="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui.css"
        />
    </head>
    <body>
        <div id="swagger-ui"></div>
    </body>
</html>

<script
    is:inline
    src="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui-standalone-preset.js"
></script>
<script
    src="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui-bundle.js"
    is:inline></script>
<script is:inline define:vars={{ url }}>
    window.onload = () => {
        window.ui = SwaggerUIBundle({
            url: `/openapi.json`,
            dom_id: "#swagger-ui",
            presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
            layout: "StandaloneLayout",
        })
    }
</script>
