---
import { genderLex } from "@/services/domain/gender-lex"
import ResultItem from "./ResultItem.astro"

interface Props {
    text: string
}

const { text } = Astro.props

const { expressions } = await genderLex(text)
---

<ul class="space-y-4 p-10">
    {
        !!expressions.length &&
            expressions.map((expression, index) => (
                <li>
                    <ResultItem expression={expression} index={index} />
                </li>
            ))
    }
</ul>
