---
import { Button } from "@/components/ui/button"
import {
    Clock as ClockIcon,
    Menu as MenuIcon,
    Plus as PlusIcon,
} from "lucide-vue-next"
---

<nav class="flex w-16 flex-col items-center gap-4 border-r p-4">
    <Button variant="ghost" size="icon" class="rounded-xl">
        <MenuIcon class="h-5 w-5" />
    </Button>
    <a href="/">
        <Button variant="ghost" size="icon" class="rounded-xl">
            <PlusIcon class="h-5 w-5" />
        </Button>
    </a>
    <Button variant="ghost" size="icon" class="rounded-xl">
        <ClockIcon class="h-5 w-5" />
    </Button>
</nav>
