---
import { getPreferredThemeFromAstroCookies } from "@/lib/theme"
import { Sun as SunIcon, Moon as MoonIcon } from "lucide-astro"

const theme = getPreferredThemeFromAstroCookies(Astro.cookies)
---

<astro-theme>
    <label
        class="group/theme absolute right-3.5 top-3.5 select-none cursor-pointer"
    >
        <input
            type="checkbox"
            id="theme"
            class="hidden"
            value="off"
            {...theme === "dark" && { checked: true }}
        />
        <MoonIcon class="hidden group-has-[#theme:checked]/theme:inline" />
        <SunIcon class="group-has-[#theme:checked]/theme:hidden" />
    </label>
</astro-theme>

<script>
    import { actions } from "astro:actions"
    class Theme extends HTMLElement {
        connectedCallback() {
            const input: HTMLInputElement | null = this.querySelector("#theme")
            input?.addEventListener("input", (e) => {
                const target = e.target as HTMLInputElement
                actions.registerTheme(target.checked ? "dark" : "light")
                document.body.classList.toggle("dark", target.checked)
            })
        }
    }

    customElements.define("astro-theme", Theme)
</script>
