---
import Google from "@/sections/auth/components/Google.astro"
import { SignIn } from "auth-astro/components"
import { getSession } from "auth-astro/server"
import { Clock as ClockIcon, Plus as PlusIcon } from "lucide-astro"
import { Button } from "~ui/button"
import ToggleButton from "~ui/sidebar/ToggleButton.astro"
import UserAvatar from "~ui/sidebar/UserAvatar.astro"
const session = await getSession(Astro.request)
---

<nav class="flex flex-col gap-4 border-r p-4 justify-between">
    <div class="flex flex-col gap-4">
        <ToggleButton />
        <a href="/" aria-label="Nuevo análisis" data-astro-reload>
            <Button variant="ghost" size="icon" className="rounded-xl">
                <PlusIcon class="h-5 w-5" />
            </Button>
        </a>
        <Button
            variant="ghost"
            size="icon"
            className="rounded-xl"
            aria-label="Historial"
        >
            <ClockIcon class="h-5 w-5" />
        </Button>
    </div>
    {
        session ? (
            <UserAvatar />
        ) : (
            <SignIn provider="google">
                <Google />
            </SignIn>
        )
    }
</nav>
