---
import SidebarAuth from "@/components/sidebar/SidebarAuth.astro"
import SidebarHistory from "@/components/sidebar/SidebarHistory.astro"
import ToggleButton from "@/components/sidebar/ToggleButton.astro"
import { Plus as PlusIcon } from "lucide-astro"
import SidebarButton from "./SidebarButton.astro"
---

<nav class="flex flex-col gap-4 border-r p-4 justify-between">
    <div class="flex flex-col gap-4 *:cursor-pointer">
        <ToggleButton />
        <SidebarButton to="/" aria-label="Nuevo análisis">
            <PlusIcon class="size-5" />
        </SidebarButton>
        <SidebarHistory server:defer />
    </div>
    <SidebarAuth server:defer />
</nav>
