---
import { cn } from "@/lib/utils"
import { Button, type ButtonProps } from "~ui/button"

interface Props extends ButtonProps {
    to: string
    label: string
}

const { to, className, label, ...props } = Astro.props
---

<a href={to} aria-label={label}>
    <!-- @ts-expect-error -->
    <Button
        className={cn(
            "justify-start rounded-xl cursor-pointer menu:w-full hover:bg-muted-foreground/20",
            className,
        )}
        variant="ghost"
        aria-label={label}
        {...props}
    >
        <slot />
        <span class="not-menu:sr-only select-none">{label}</span>
    </Button>
</a>
