---
import SignIn from "@/components/auth/SignIn.astro"
import UserAvatar from "@/components/sidebar/UserAvatar.astro"
import Google from "@/sections/auth/components/Google.astro"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
---

{
    session ? (
        <UserAvatar />
    ) : (
        <SignIn
            provider="google"
            class="text-start *:inline-block space-x-2 menu:p-2 menu:-ml-2 menu:-mb-2 rounded-lg menu:bg-muted transition-all cursor-pointer active:scale-90 select-none"
        >
            <Google />
            <span class="not-menu:sr-only font-semibold text-secondary-foreground/90">
                Iniciar sesión
            </span>
        </SignIn>
    )
}
