---
import { cn } from "@/lib/utils"
import { Button, type ButtonProps } from "~ui/button"

interface Props extends ButtonProps {
    to: string
}

const { to, className, "aria-label": ariaLabel, ...props } = Astro.props
---

<a href={to} aria-label={ariaLabel}>
    <Button
        className={cn("rounded-xl cursor-pointer", className)}
        variant="ghost"
        size="icon"
        aria-label={ariaLabel}
        {...props}
    >
        <slot />
    </Button>
</a>
