---
import ToggleButton from "@/components/sidebar/ToggleButton.astro"
import UserAvatar from "@/components/sidebar/UserAvatar.astro"
import Google from "@/sections/auth/components/Google.astro"
import { SignIn } from "auth-astro/components"
import { getSession } from "auth-astro/server"
import { Clock as ClockIcon, Plus as PlusIcon } from "lucide-astro"
import SidebarButton from "./SidebarButton.astro"
const session = await getSession(Astro.request)
---

<nav id="menu" class="flex flex-col gap-4 px-1 py-4 border-r justify-between">
    <div class="flex flex-col gap-4 menu-closed:items-center">
        <ToggleButton />
        <SidebarButton to="/">
            <PlusIcon class="size-5" slot="icon" />
            Nueveo Análisis
        </SidebarButton>
        {
            session && (
                <SidebarButton to="/history">
                    <ClockIcon class="size-5" slot="icon" />
                    Historial
                </SidebarButton>
            )
        }
    </div>
    {
        session ? (
            <UserAvatar />
        ) : (
            <SignIn
                provider="google"
                class="flex gap-4 items-center menu-open:hover:bg-muted py-2 px-3 rounded-xl"
            >
                <Google />
                <span class="menu-closed:hidden">Iniciar Sesión</span>
            </SignIn>
        )
    }
</nav>
