---
import ToggleButton from "@/components/sidebar/ToggleButton.astro"
import UserAvatar from "@/components/sidebar/UserAvatar.astro"
import Google from "@/sections/auth/components/Google.astro"
import { SignIn } from "auth-astro/components"
import { getSession } from "auth-astro/server"
import { Clock as ClockIcon, Plus as PlusIcon } from "lucide-astro"
import { Button } from "~ui/button"
const session = await getSession(Astro.request)
---

<nav class="flex flex-col gap-4 border-r p-4 justify-between">
    <div class="flex flex-col gap-4">
        <ToggleButton />
        <Button
            variant="ghost"
            size="icon"
            className="rounded-xl"
            aria-label="Nuevo análisis"
        >
            <a href="/" data-astro-reload data-astro-prefetch="false"
                ><PlusIcon class="h-5 w-5" /></a
            >
        </Button>
        <Button
            variant="ghost"
            size="icon"
            className="rounded-xl"
            aria-label="Historial"
        >
            <ClockIcon class="h-5 w-5" />
        </Button>
    </div>
    {
        session ? (
            <UserAvatar />
        ) : (
            <SignIn provider="google">
                <Google />
            </SignIn>
        )
    }
</nav>
