---
import SidebarAuth from "@/components/sidebar/SidebarAuth.astro"
import SidebarHistory from "@/components/sidebar/SidebarHistory.astro"
import ToggleButton from "@/components/sidebar/ToggleButton.astro"
import { Plus as PlusIcon } from "lucide-astro"
import SidebarButton from "./SidebarButton.astro"
import SidebarModelSelector from "@/components/sidebar/SidebarModelSelector.astro"
import { Skeleton } from "~ui/skeleton"
---

<div
    id="nav-wrapper"
    class="z-1 flex absolute sm:static h-full menu:w-full sm:menu:w-auto menu:transition-colors"
>
    <nav
        class="relative -left-20 menu:left-0 sm:static bg-secondary/80 flex items-center menu:items-stretch flex-col gap-4 border-r p-4 justify-between menu:w-48 transition-[width,left] ease-out"
    >
        <div class="flex flex-col gap-4 *:cursor-pointer">
            <ToggleButton />
            <SidebarButton to="/" label="Nuevo análisis">
                <PlusIcon class="size-4" />
            </SidebarButton>
            <SidebarHistory />
        </div>
        <div class="gap-4 flex flex-col">
            <SidebarModelSelector server:defer />
            <SidebarAuth server:defer>
                <Skeleton
                    slot="fallback"
                    className="size-10 rounded-full bg-white"
                />
            </SidebarAuth>
        </div>
    </nav>
</div>
<script>
    const navWrapper = document.querySelector<HTMLDivElement>("#nav-wrapper")
    navWrapper?.addEventListener("click", (e) => {
        if (e.currentTarget === e.target) {
            document.body.classList.toggle("menu")
        }
    })
</script>
