---
import { Button, type ButtonProps } from "~ui/button"

interface Props extends ButtonProps {
    to: string
}

const { to, className, ...props } = Astro.props
---

<Button
    variant="ghost"
    size="icon"
    className={"rounded-xl w-full px-3 select-none " + className}
    {...props}
>
    <a href={to} class="flex items-center gap-2 w-fit"
        ><slot name="icon" /><span class="menu-closed:hidden"><slot /></span></a
    >
</Button>
