---
import { Menu as MenuIcon } from "lucide-astro"
import { Button } from "~ui/button"
---

<label
    onclick="document.body.classList.toggle('menu')"
    class="absolute menu:static sm:static -right-12 top-1"
>
    <Button
        variant="ghost"
        className="rounded-xl cursor-pointer menu:w-full justify-start hover:bg-muted-foreground/20 mx-auto"
    >
        <MenuIcon class="size-4" />
        <span class="not-menu:sr-only select-none">GenderLex</span>
    </Button>
</label>
