---
import { Menu as MenuIcon } from "lucide-astro"
import { Button } from "~ui/button"
---

<label>
    <Button variant="ghost" size="icon" className="rounded-xl">
        <MenuIcon class="h-5 w-5" />
    </Button>
    <input type="checkbox" class="hidden" />
</label>
