---
import UploadButton from "@/components/UploadButton"
import FormAnalyzeText from "@/sections/home/components/form/FormAnalyzeText.astro"
import FormSubmitButton from "@/sections/home/components/form/FormSubmitButton.astro"
---

<form
    action={"/analysis"}
    method="POST"
    class="group flex h-full gap-2 pr-2"
    data-loading="false"
>
    <FormAnalyzeText />
    <div class="flex flex-col gap-1">
        <input name="file" class="hidden" id="analyze-input" />
        <FormSubmitButton />
        <UploadButton client:load />
    </div>
</form>

<script>
    import { $analyzeFile } from "@/sections/home/stores/analyle-input"

    const file = document.querySelector<HTMLInputElement>("#analyze-input")

    $analyzeFile.subscribe((value) => {
        if (file) file.value = value ?? ""
    })
</script>
