---
import FormAnalyzeText from "@/sections/home/components/form/FormAnalyzeText.astro"
import FormSubmitButton from "@/sections/home/components/form/FormSubmitButton.astro"
---

<form
    action={"/analysis"}
    method="POST"
    class="group flex h-full items-center gap-2 pr-2"
    data-loading="false"
>
    <FormAnalyzeText />
    <FormSubmitButton />
</form>
