---
import { actions } from "astro:actions"
import FormAnalyzeText from "./FormAnalyzeText.astro"
import { Button } from "~ui/button"
import { RefreshCw as RefreshCwIcon } from "lucide-astro"
---

<form
    action={actions.analyzeText}
    method="POST"
    class="space-y-2 group"
    data-loading="false"
>
    <FormAnalyzeText />
    <div class="flex h-full items-center justify-end gap-2 pr-2">
        <Button
            size="sm"
            class="rounded-lg transition-opacity"
            disabled={true}
            id="submit-button"
        >
            <div class="group-data-[loading=false]:hidden flex gap-1">
                <span class="animate-spin">
                    <RefreshCwIcon />
                </span>
                <span>Analizando</span>
            </div>
            <span data-loading="false" class="group-data-[loading=true]:hidden"
                >Enviar</span
            >
        </Button>
    </div>
</form>

<script>
    import { $analyzeText } from "@/utils/stores/analyle-text"

    const submitter: HTMLButtonElement | null =
        document.querySelector("#submit-button")
    const form: HTMLFormElement | null = document.querySelector("form")

    form?.addEventListener("submit", () => {
        form.setAttribute("data-loading", "true")
        if (submitter) submitter.disabled = true
    })

    $analyzeText.subscribe((value) => {
        if (submitter) submitter.disabled = !value
    })
</script>

<script></script>
