---
import { actions } from "astro:actions"
import FormAnalyzeText from "./FormAnalyzeText.astro"
import FormSubmitButton from "./FormSubmitButton.astro"
---

<form
    action={actions.analyzeText}
    method="POST"
    class="space-y-2 group"
    data-loading="false"
>
    <FormAnalyzeText />
    <div class="flex h-full items-center justify-end gap-2 pr-2">
        <FormSubmitButton />
    </div>
</form>
