---
import ThemeUpdater from "@/components/theme/ThemeUpdater.astro"
import { Moon as MoonIcon, Sun as SunIcon } from "lucide-astro"
---

<ThemeUpdater server:defer />

<astro-theme transition:persist="theme">
    <label
        class="group/theme absolute right-3.5 top-3.5 select-none cursor-pointer z-10"
    >
        <input type="checkbox" id="theme" class="hidden" value="off" />
        <MoonIcon class="hidden group-has-[#theme:checked]/theme:inline" />
        <SunIcon class="group-has-[#theme:checked]/theme:hidden" />
    </label>
</astro-theme>

<script>
    import { actions } from "astro:actions"
    class Theme extends HTMLElement {
        connectedCallback() {
            const input: HTMLInputElement | null = this.querySelector("#theme")
            input?.addEventListener("input", (e) => {
                const target = e.target as HTMLInputElement
                actions.registerTheme(target.checked ? "dark" : "light")
            })
        }
    }

    customElements.define("astro-theme", Theme)
</script>
