---
import BiasedContentItem from "@/sections/analysis/components/biased-content/BiasedContentItem.astro"
import type { BiasedITem } from "@zenstackhq/runtime/models"
import { Card } from "~ui/card"

interface Props {
    data: BiasedITem[]
    title: string
}

const { data, title } = Astro.props
---

<Card>
    <div class="p-2 sm:p-4 space-y-2 sm:space-y-3">
        <h3 class="text-base font-semibold mb-2">{title}</h3>
        {data.map((term) => <BiasedContentItem data={term} />)}
    </div>
</Card>
