@import "tailwindcss";
@import "./styles/variants.css";
@import "./styles/utilities.css";
@import "./styles/colors.css";
@import "./styles/animations.css";

@plugin "tailwindcss-animate";

@theme inline {
    --spacing: 0.25rem;

    /* radius */
    --radius: 0.5rem;
    --radius-xl: calc(var(--radius) + 4px);
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
    :root {
        interpolate-size: allow-keywords;
    }

    body {
        @apply bg-background text-foreground;
    }
}

* {
    @apply border-border;
}
