---
import "@/base.css"
import Sidebar from "@/components/sidebar"
import Theme from "@/components/theme/Theme.astro"
import { buildPageTitle } from "@/lib/text/build-page-title"
import { ClientRouter } from "astro:transitions"
import LoadingIndicator from "astro-loading-indicator/component"

interface Props {
    title?: string
    withoutTransitionsAPI?: boolean
}
const { title, withoutTransitionsAPI = false } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{buildPageTitle(title)}</title>
        {!withoutTransitionsAPI && <ClientRouter />}
        <LoadingIndicator color="blue" />
        {
            import.meta.env.DEV && (
                <script
                    src="https://unpkg.com/react-scan/dist/auto.global.js"
                    is:inline
                />
            )
        }
    </head>
    <body class="relative">
        <Theme />
        <section class="flex h-screen">
            <Sidebar />
            <main class="flex-1">
                <slot> No Content Provided</slot>
            </main>
        </section>
    </body>
</html>
