---
import "@/base.css"
import Sidebar from "@/components/sidebar"
import Theme from "@/components/theme/Theme.astro"
import { getCurrentModel } from "@/lib/domain"
import { buildPageTitle } from "@/lib/text/build-page-title"
import LoadingIndicator from "astro-loading-indicator/component"
import { FLAG_REACT_SCAN } from "astro:env/client"
import { ClientRouter } from "astro:transitions"

interface Props {
    title?: string
    withoutTransitionsAPI?: boolean
}
const { title, withoutTransitionsAPI = false } = Astro.props

const model = getCurrentModel(Astro)
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{buildPageTitle(title)}</title>
        {!withoutTransitionsAPI && <ClientRouter />}
        <LoadingIndicator color="blue" />
        {
            FLAG_REACT_SCAN && (
                <script
                    src="https://unpkg.com/react-scan/dist/auto.global.js"
                    is:inline
                />
            )
        }
    </head>
    <body class="relative" data-model={model}>
        <Theme />
        <section class="flex h-screen">
            <Sidebar />
            <main
                class="flex-1 menu:scale-95 sm:menu:scale-100 transition-transform overflow-auto max-h-screen"
            >
                <slot> No Content Provided</slot>
            </main>
        </section>
    </body>
</html>
