---
import "@/base.css"
import Theme from "@/components/Theme.astro"
import Sidebar from "@/components/sidebar"
import { buildPageTitle } from "@/lib/text/buid-page-title"
import { DEV_DEVELOP } from "astro:env/server"
import { ClientRouter } from "astro:transitions"

interface Props {
    title?: string
    withTransitionsAPI?: boolean
}
const { title, withTransitionsAPI } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{buildPageTitle(title)}</title>
        {
            DEV_DEVELOP && (
                <script src="https://unpkg.com/react-scan/dist/auto.global.js" />
            )
        }
        {withTransitionsAPI && <ClientRouter />}
    </head>
    <body class="min-h-screen dark:dark">
        <Theme />
        <section class="flex h-screen">
            <Sidebar />
            <main class="flex-1 overflow-auto max-h-screen">
                <slot> No Content Provided </slot>
            </main>
        </section>
    </body>
</html>
