---
import type { HTMLAttributes } from "astro/types"
import type { BuiltInProviderType } from "@auth/core/providers"

interface Props extends HTMLAttributes<"button"> {
    /** The authentication provider to sign in with. */
    provider?: BuiltInProviderType | string
    options?: any
    authParams?: any
}

const key = Math.random().toString(36).slice(2, 11)

const { provider, options, authParams, ...attrs } = Astro.props
attrs.class = `signin-${key} ${attrs.class ?? ""}`
---

<button {...attrs}>
    <slot />
</button>

<script>
    import { signIn } from "@/services/auth/signin"

    // @ts-expect-error
    window.signIn = signIn
</script>

<script define:vars={{ provider, options, authParams, key }} is:inline>
    document
        .querySelector(`.signin-${key}`)
        ?.addEventListener("click", () => signIn(provider, options, authParams))
</script>
