---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"button"> {
    params?: any
}

const key = Math.random().toString(36).slice(2, 11)

const { params, ...attrs } = Astro.props
attrs.class = `signout-${key} ${attrs.class ?? ""}`
---

<button {...attrs}>
    <slot />
</button>

<script>
    import { signOut } from "@/services/auth/signout"

    // @ts-ignore
    window.signOut = signOut
</script>

<script define:vars={{ params, key }} is:inline>
    document
        .querySelector(`.signout-${key}`)
        ?.addEventListener("click", () => signOut(params))
</script>
